header{
    background-image: url('./assets/banners/home/h_bg.jpg'), linear-gradient(180deg, rgba(49,38,29,0.9) 35%, rgba(49,38,29,0.35) 100%);
}
/*-----Resp video Section-----*/
section.kh-resp-business{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 42%, rgba(241,241,241,1) 42%);
    margin-bottom: 0;
}
section.kh-resp-business .kh-row{
    padding: 0 30px;
}
.kh-video-side {
    position: relative;
    width: 50%;
    align-items: center;
}
.kh-vedio-overlay {
    background-image: url(./assets/banners/home/v_bg.png), linear-gradient(180deg, rgba(49,38,29,0.9) 0%, rgba(49,38,29,0.35) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100%;
}
.kh-video_btn {
    position: inherit;
    -ms-align-items: center;
    align-items: center;
    z-index: 1;
}
.kh-video_btn i {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: var(--white);
    cursor: pointer;
    padding: 60px;
    border: 2px solid var(--white);
    border-radius: 50%;
}
.kh-video_btn p {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
    margin-left: 30px;
}
.kh-resp-business-desc {
    width: 45%;
}
.kh-about_company {
    position: relative;
    padding-left: 3vw;
    padding-top: 1vh;
}
.kh-about_company p {
    font-size: 20px;
    color: #7A746F;
}
.kh-about_btn {
    color: var(--dark);
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    background: var(--white);
    border: 2px solid var(--white);
    padding: 15px 25px;
    text-decoration: none;
}
.kh-about_btn:hover{
    background: var(--gray)
}
/*-----Counters Section-----*/
section.kh-coutens, section.kh-filter {
    background: var(--gray);
    margin: 0;
    padding: 75px 0;
}
section.kh-coutens .kh-row{
    padding: 0 30px;
}
.kh-counter_item {
    width: 24%;
    position: relative;
    padding: 35px 0 0 25px;
    box-sizing: border-box;
}
.kh-counter_item h4 {
    margin: 0;
    font-size: 46px;
    color: var(--red);
    text-transform: uppercase;
    line-height: 0.8;
}
.kh-counter_item p {
    margin: 10px 0 0;
    font-size: 22px;
    color: var(--primery);
    text-transform: uppercase
}
/*-----Filter  Section-----*/
.kh-form {
    box-sizing: border-box;
    padding: 75px 30px;
    background: var(--white);
    width: calc(75% - 15px);
}
.kh-f_left-side {
    margin-left: 30px;
    max-width: 45%;
    align-content: space-between;
}
.kh-top_side{
    width: 100%;
}
.kh-bottom_side{
    width: 100%;
}
.kh-bottom_side button[type=submit] {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 25px;
}
.kh-form h5 {
    color: #AFAFAF;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}
.kh-form h5:nth-child(5) {
    margin-top: 12px;
}
.kh-form label{
    margin-right: 8px;
    display: inline-flex;
    box-sizing: border-box;
}
.kh-radio-text{
    padding: 10px;
    background: var(--gray);
    border: 2px solid var(--gray);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s ease;
}
.kh-radio{
    display: none;
}
.kh-radio:checked ~ .kh-radio-text{
    border-color: var(--red);
    background-color: var(--white)
}
.kh-my_plane {
    position: relative;
    padding: 3%;
    box-sizing: border-box;
    width: 25%;
    background: var(--white);
    align-items: center;
    justify-content: center;
}
.kh-my_plane img {
    max-width: 100%;
    position: absolute;
    top: -5%;
    left: 0;
    z-index: 0;
}
.kh-mp_text {
    margin-top: 60%;
    text-decoration: none;
    z-index: 1;
}
.kh-mp_text h3 {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--dark);
    margin:  0 0 15px;
}
.kh-mp_text p {
    font-size: 16px;
    color: #7A746F;
    margin: 0;
}
/*-----Ready Houses Section-----*/
section.kh-ready_houses{
    background-color: var(--white);
}
.kh-r_slide, .kh-p_slide, .kh-b_banner, .kh-s_slide{
    position: relative;
    text-align: left;
    justify-content: flex-start;
    overflow: hidden;
}
.kh-r_slide::before, .kh-p_slide::before, .kh-b_banner::before, .kh-s_slide::before {
    content: "";
    position: absolute;
    background: linear-gradient(135deg, rgba(49,38,29,0.8) 0%, rgba(49,38,29,0) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.kh-r_slide img, .kh-p_slide img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.kh-r_slide_content{
    padding: 75px 30px;
    color: var(--white);
    z-index: 2
}
.kh-r_slide_content h3 {
    font-size: 40px;
    margin: 0 0 30px;
}
.kh-r_slide_content .kh-sec_heading{
    margin-bottom: 30px;
}
.kh-r_slide_content .kh-sec_heading b {
    color: var(--white);
}
.kh-target_info a {
    text-transform: uppercase;
    font-size: 12px;
}
.kh-target_info p {
    margin: 0 5px 0 0;
    padding: 15px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    background-color: #2c26224d;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
.kh-t_data{
    margin-left: 25px;
}
/*-----Guidline Section-----*/
.kh-g_item{
    width: 24%;
    box-sizing: border-box;
    padding: 0 20px;
}
.kh-row:nth-child(2) .kh-g_item:nth-child(1) {
    padding-left: 0;
}
.kh-row:nth-child(2) .kh-g_item:nth-child(4) {
    padding-right: 0;
}
.kh-icon_square {
    position: relative;
    padding-left: 18px;
}
.kh-icon_square svg {
    height: 75px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 1
}
.kh-icon_square::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 58px;
    height: 58px;
    background: var(--gray);
    z-index: 0;
}
.kh-g_content h4 {
    font-size: 26px;
    color: var(--red);
    margin: 20px 0;
}
.kh-g_content p {
    font-size: 14px;
    font-weight: 300;
    color: #918880;
}
/*-----Partfolio Section-----*/
section.kh-parfolio{
    overflow: hidden;
}
section.kh-parfolio .kh-sec_heading{
    margin-bottom: 0;
}
.kh-p_header-right-side {
    position: relative;
    align-content: flex-end;
    flex-direction: row-reverse;
}
.kh-p_header-right-side .kh-next_btn, .kh-p_header-right-side .kh-prev_btn {
    position: static;
    margin-left: 20px;
    margin-bottom: 20px
}
.kh-partfolio-slider{
    padding-top: 35px;
    overflow: visible;
}
.kh-p_slide{
    height: 410px
}
.kh-p_slide_content {
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    color: var(--white);
    align-content: space-between;
    z-index: 2;
}
.kh-top_side i.fa-play {
    width: 85px;
    height: 85px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
.kh-p_item_description p {
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0 10px;
}
.kh-p_item_description h4 {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}
/*-----Bonus Section-----*/
.kh-b_banners {
    width: 100%;
}
.kh-b_banner {
    padding: 50px 50px 60px;
    box-sizing: border-box;
    width: calc(50% - (15px / 2));
    margin-right: 15px;
    color: var(--white)
}
.kh-b_banners .kh-b_banner:last-child{
    margin-right: 0;;
}
.kh-b_banner img, .kh-s_slide img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.kh-b_banner a.kh-btn_red {
    font-size: 12px;
    padding: 15px 30px;
}
.kh-bonus-banner_content {
    position: inherit;
    z-index: 2;
}
.kh-bonus-banner_content h3 {
    font-size: 38px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0;
}
.kh-bonus-banner_content p {
    font-size: 12px;
    text-transform: uppercase;
    margin: 15px 0;
}
.kh-b_banner a {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--white);
    text-decoration: none;
    z-index: 2;
}
/*-----Future Section-----*/
section.kh-draw{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 26%, rgba(241,241,241,1) 26%, rgba(241,241,241,1) 80.5%, rgba(255,255,255,1) 80.5%);
}
.kh-draw-side {
    position: relative;
    width: 50%;
}
.kh-vector_overlay {
    position: absolute;
    height: 100%;
    width: 50vw;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: right top;
}
.kh-row.kh-jc-space_between .kh-draw-side:last-child .kh-vector_overlay {
    top: 0;
    left: 0;
    right: auto;
    height: calc(100% - 75px);
    background-position: left top;
}
.kh-d_content-side {
    width: 45%;
}
.kh-draw .kh-container .kh-row:nth-child(2) .kh-d_content-side {
    text-align: right;
}
.kh-draw .kh-container .kh-row:nth-child(2) .kh-d_content-side .kh-about_btn{
    background-color: var(--gray);
    border-color: var(--gray);
}
.kh-draw .kh-container .kh-row:nth-child(2) .kh-d_content-side .kh-about_btn:hover{
    background-color: var(--white);
}
.kh-draw .kh-container .kh-row:nth-child(2){
    padding-top: 75px;
}
.kh-draw .kh-container .kh-row:nth-child(2) .kh-d_content-side .kh-about_company{
    padding-left: 0;
    padding-right: 3vw;
}
.kh-draw .kh-container .kh-row:nth-child(2) .kh-d_content-side .kh-quote::before{
    right: 0;
    left: auto;
}
/*-----About Section-----*/
.kh-story {
    border: 24px solid var(--gray);
    padding: 65px;
}
.kh-founder {
    position: relative;
    width: 30%;
}
.kh-founder img {
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: -89px;
    left: 0;
}
.kh-we {
    position: relative;
    width: 60%;
}
.kh-we blockquote {
    position: relative;
    margin: 0 0 30px;
    font-style: italic;
}
.kh-we blockquote::before {
    content: "";
    position: absolute;
    left: -44px;
    top: 5px;
    height: 24px;
    border-right: 20px solid #00000000;
    border-left: 22.5px solid var(--red);
    border-bottom: 20px solid transparent;
}
.kh-we blockquote::after {
    content: "";
    position: absolute;
    left: calc(-22.5px - 59px);
    top: 5px;
    height: 24px;
    border-right: 20px solid #00000000;
    border-left: 22.5px solid var(--red);
    border-bottom: 20px solid transparent;
}
.kh-boss {
    align-items: center;
}
.kh-boss h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.kh-boss p {
    font-size: 16px;
    color: var(--red);
    text-transform: uppercase;
    margin: 0;
}
.kh-boss a.kh-btn_red {
    font-size: 12px;
}

/*-----HIgh Quality-----*/
.kh-high-q-img {
    position: relative;
    width: 410px;
}
.kh-high-q-img img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.kh-text-side {
    position: relative;
    width: calc(90% - 410px);
}
.kh-q_info {
    position: relative;
    width: 80%;
    margin-left: 20%;
    z-index: 1;
}
.kh-total-r_project {
    width: 300px;
    height: 300px;
    padding: 40px 70px;
    box-sizing: border-box;
    background: var(--red);
}
.kh-total-r_project h4{
    font-size: 46px;
    margin: 20px 0 0;
    color: var(--white);
}
.kh-total-r_project .kh-corner::before {
    top: 40px;
    left: 40px;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
}
.kh-total-r_project p{
    font-size: 22px;
    color: var(--white);
    margin-bottom: 0;
}
.kh-q_info img {
    height: 300px;
    margin-left: 15px;
}
.kh-q_info p.kh-corner {
    position: relative;
    font-size: 20px;
    width: calc(100% - (300px * 2 + 15px + 44px));
    margin: 0;
    margin-left: 44px;
    padding: 36px 28px;
    box-sizing: border-box;
}
/*-----OUR SERVICE SECTION-----*/
a.kh-s_slide {
    height: 315px;
}
a.kh-s_slide:hover .kh-slide-b_content{
    transform: translateX(15px);
}
.kh-slide-b_content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-content: flex-end;
    transition: transform .4s ease;
    z-index: 2;
}
.kh-slide-b_content i {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 200;
    color: var(--white);
    background-color: #2c26224d;
    backdrop-filter: blur(10px);
}
.kh-slide-b_content h5 {
    width: 100%;
    font-size: 26px;
    color: var(--white);
    margin: 15px 0 0 0;
}
/*-----FOLLOW US SECTION-----*/
.kh-fl_us-header-left-side {
    max-width: 70%;
}
.kh-fl_us-header-right-side {
    position: relative;
    padding: 28px 36px;
    box-sizing: border-box;
    width: 30%;
}
.kh-fl_us-header-right-side p.kh-corner {
    margin: 0;
    font-size: 20px;
}


/*----------MEDIA STYLES----------*/
@media (max-width: 1200px) {
    section.kh-resp-business {
        background: linear-gradient(180deg, rgba(255,255,255,1) 49%, rgba(241,241,241,1) 49%);
    }
    .kh-counter_item h4 {
        font-size: 42px;
    }
    /*-----Form Section-----*/
    .kh-form{
        width: calc(65% - 15px);
        padding: 55px 30px;
    }
    .kh-my_plane{
        width: 35%;
    }
    .kh-mp_text{
        margin-top: 50%;
    }
    .kh-f_left-side{
        margin: 12px 0 0;
        max-width: 50%;
        width: 50%;
    }
    .kh-f_left-side .kh-bottom_side{
        margin-top: 30px;
    }
    /*-----Ready Houses Section-----*/
    section.kh-ready_houses .kh-container .kh-row, section.our-service .kh-container .kh-row:nth-child(2), section.kh-follow_us .kh-container .kh-row:nth-child(2){
        margin: 0 30px
    }
    .kh-r_slide_content h3 {
        font-size: 38px;
        margin: 0 0 20px;
    }
    .kh-target_info a{
        font-size: 14px;
    }
    .kh-t_data {
        margin-left: 20px;
    }
    /*-----Guidline Section-----*/
    .kh-icon_square svg {
        height: 60px;
    }
    .kh-g_content h4 {
        font-size: 18px;
    }
    .kh-g_content p {
        font-size: 14px;
    }
    /*-----Vector Imgs Section*/
    section.kh-draw {
        background: linear-gradient(180deg, rgba(255,255,255,1) 28.5%, rgba(241,241,241,1) 28.5%, rgba(241,241,241,1) 77%, rgba(255,255,255,1) 77%);
    }
    .kh-about_company p {
        font-size: 18px;
    }
    /*-----About Section-----*/
    .kh-founder{
        width: 40%;
    }
    .kh-story{
        padding: 55px
    }
    .kh-we {
        width: 50%;
    }
    .kh-meta {
        margin-bottom: 15px;
    }
    /*-----Service Section-----*/
    a.kh-s_slide {
        height: 245px;
    }
    .kh-slide-b_content h5 {
        font-size: 20px;
    }
    /*-----Quality section-----*/
    .kh-high-q-img {
        width: 300px;
    }
    .kh-text-side {
        width: calc(90% - 300px);
    }
    .kh-q_info {
        width: 95%;
        margin-left: 5%;
    }
    .kh-q_info p.kh-corner{
        font-size: 18px;
    }
    /*-----FOLLOW Us Section-----*/
    .kh-fl_us-header-left-side {
        max-width: 60%;
    }
}
@media (max-width: 992px) {
    /*-----Resp Video Section-----*/
    section.kh-resp-business {
     background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(241,241,241,1) 40%);
    }
    .kh-video-side {
        width: 100%;
        justify-content: center;
        padding: 55px 0;
        overflow: hidden;
    }
    .kh-vedio-overlay{
        right: 0;
        top: 0;
        width: 100vw;
        height: 100%;
    }
    .kh-resp-business-desc {
        width: 100%;
        margin-top: 30px;
    }
    /*-----Counter Section-----*/
    .kh-counter_item {
        width: 45%;
        margin-bottom: 25px;
    }
    /*-----Form Section-----*/
    .kh-form {
        width: calc(70% - 15px);
    }
    .kh-f_left-side {
        margin: 12px 0 0;
        max-width: 100%;
        width: auto;
    }
    .kh-my_plane {
        width: 30%;
    }
    .kh-mp_text h3 {
        font-size: 24px;
    }
    /*-----Guidline Section-----*/
    .kh-g_item {
        width: 50%;
        padding: 0 40px;
        margin-bottom: 40px;
    }
    .kh-row:nth-child(2) .kh-g_item:nth-child(1), .kh-row:nth-child(2) .kh-g_item:nth-child(3) {
        padding-left: 0;
    }
    .kh-row:nth-child(2) .kh-g_item:nth-child(2n) {
        padding-right: 0;
    }
    /*-----Partfolio Section-----*/
    .kh-p_header-side {
        width: 80%;
    }
    .kh-p_header-right-side {
        max-width: 20%;
    }
    /*-----Draw Vector Section-----*/
    section.kh-draw {
        background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(241,241,241,1) 15%, rgba(241,241,241,1) 76.5%, rgba(255,255,255,1) 76.5%);
    }
    .kh-draw .kh-container .kh-row:nth-child(2){
        flex-direction: column-reverse;
    }
    .kh-draw-side {
        width: 100%;
        height: 410px;
        margin-bottom: 50px;
    }
    .kh-d_content-side {
        width: 100%;
    }
    .kh-vector_overlay {
        height: 100%;
        width: 100%;
    }
    .kh-row.kh-jc-space_between .kh-draw-side:last-child .kh-vector_overlay{
        height: 100%;
    }
    .kh-about_company {
        margin-bottom: 30px;
    }
    /*-----About Section-----*/
    .kh-founder img{
        bottom: -79px;
    }
    /*-----Quality Section-----*/
    .kh-total-r_project {
        width: 50%;
    }
    .kh-q_info p.kh-corner {
        width: 100%;
        margin-top: 25px;
        margin-left: 0;
    }
    /*-----SERVICE Section-----*/
    a.kh-s_slide {
        height: 340px;
    }
    /*-----FOLLOW US Section-----*/
    .kh-fl_us-header-right-side {
        padding: 18px 26px;
        width: 35%;
    }
}
@media (max-width: 768px) {
    /*-----Resp Video Section-----*/
    section.kh-resp-business {
        background: linear-gradient(180deg, rgba(255,255,255,1) 25%, rgba(241,241,241,1) 25%);
    }
    .kh-video_btn p {
        font-size: 20px;
    }
    .kh-video_btn i {
        font-size: 30px;
        height: 30px;
        width: 30px;
        padding: 50px;
    }
    .kh-about_company p {
        font-size: 16px;
    }
    .kh-about_btn {
        font-size: 12px;
        padding: 10px 20px;
    }
    /*-----Counter Section-----*/
    .kh-counter_item h4 {
        font-size: 38px;
        min-height: 64px;
    }
    .kh-corner::before {
        width: 62px;
        height: 62px;
    }
    .kh-counter_item p {
        margin: 0 0 15px;
        font-size: 18px;
    }
    /*-----Form Section-----*/
    .kh-form {
        width: 100%;
        padding: 35px 30px;
    }
    .kh-my_plane {
        width: 100%;
        margin-top: 50px;
    }
    .kh-my_plane img{
        top: -10%;
    }
    /*-----Guidline Sectiom-----*/
    .kh-icon_square {
        display: inline-block;
        margin-left: 18px;
    }
    /*-----Ready Houses-----*/
    .kh-r_slide_content h3 {
        font-size: 32px;
        margin: 0 0 10px;
    }
    .kh-r_slide_content .kh-sec_heading {
        margin-bottom: 20px;
    }
    /*-----Partfolio Section-----*/
    .kh-sec_description {
        font-size: 16px;
    }
    .kh-target_info a {
        font-size: 12px;
        padding: 10px;
    }
    .kh-target_info p {
        padding: 10px;
        font-size: 9px;
    }
    /*-----Bonus Section-----*/
    .kh-b_banner {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .kh-b_banners .kh-b_banner:last-child {
        margin-bottom: 0;
    }
    /*-----Draw Vector Section-----*/
    section.kh-draw {
        background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(241,241,241,1) 15%, rgba(241,241,241,1) 70%, rgba(255,255,255,1) 70%);
    }
    .kh-draw-side {
        width: 100%;
        height: 255px;
    }
    .kh-quote::before {
        height: 64px;
    }
    /*-----About Section-----*/
    .kh-founder {
        width: 100%;
        display: none;
    }
    .kh-founder img {
        bottom: 0;
        position: static;
    }
    .kh-we {
        width: calc(100% - 44px);
        margin-left: 44px;
    }
    .kh-boss h4 {
        font-size: 18px;
    }
    .kh-boss p {
        font-size: 14px;
    }
    .kh-boss a.kh-btn_red {
        font-size: 12px;
        padding: 10px;
    }
    /*-----Quality Selection-----*/
    .kh-high-q-img {
        width: 45%;
    }
    .kh-text-side {
        width: 50%;
    }
    .kh-q_info {
        width: 100%;
        margin-left: 0;
    }
    .kh-total-r_project {
        width: 50%;
    }
    .kh-total-r_project p {
        margin-top: 0;
    }
    .kh-q_info img {
        height: 300px;
        width: 50%;
        margin-left: 0;
    }
    /*-----Service Section-----*/
    a.kh-s_slide {
        height: 250px;
    }
    /*-----Follow Section-----*/
    .kh-fl_us-header-left-side {
        max-width: 55%;
    }
    .kh-fl_us-header-right-side {
        width: 40%;
    }
}
@media (max-width: 567px) {
    .kh-video_btn i {
        font-size: 20px;
        height: 20px;
        width: 20px;
        padding: 30px;
    }
    /*-----Counter Section-----*/
    .kh-counter_item {
        width: 50%;
        margin: 0 auto 25px;
        padding: 25px 0 0 25px;
    }
    .kh-counter_item h4 {
        font-size: 24px;
        min-height: 35px;
    }
    .kh-corner::before {
        width: 42px;
        height: 42px;
    }
    .kh-counter_item p {
        margin: 0 0 15px;
        font-size: 16px;
    }
    /*-----Form Section-----*/
    .kh-form label {
        margin-bottom: 15px;
    }
    .kh-my_plane {
        padding: 5%;
        display: none;
    }
    /*-----Ready Houses Section-----*/
    section.kh-ready_houses .kh-container .kh-row{
        margin: 0;
    }
    .kh-r_slide {
        margin-bottom: 15px;
    }
    .kh-r_slide_content {
        padding: 35px 30px;
    }
    .kh-r_slide_content h3 {
        font-size: 26px;
    }
    .kh-r_slide_content h3 {
        font-size: 20px;
    }
    .kh-r_slide_content .kh-sec_heading {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .kh-target_info a {
        font-size: 10px;
    }
    .kh-t_data {
        margin-left: 0;
        margin-top: 10px;
    }
    /*-----Guidline Sectiom-----*/
    .kh-g_item {
        width: 50%;
        text-align: center;
        padding: 0;
    }
    .kh-g_content p {
        font-size: 14px;
        display: none;
    }
    .kh-mi-description .kh-g_item:nth-child(3), .kh-mi-description .kh-g_item:nth-child(4){
        margin-bottom: 0;
    }
    /*-----Partfolio Section-----*/
    .kh-p_header-side {
        width: 70%;
    }
    .kh-p_header-right-side {
        max-width: 30%;
    }
    .kh-p_header-right-side .kh-next_btn{
        margin-left: 10px;
    }
    .kh-p_slide {
        height: 340px;
    }
    /*-----Bonus Section-----*/
    .kh-bonus-banner_content h3 {
        font-size: 26px;
    }
    .kh-b_banner{
        margin-bottom: 15px;
        padding: 40px 50px 50px;
    }
    /*-----Draw Section-----*/
    section.kh-draw {
        background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(241,241,241,1) 10%, rgba(241,241,241,1) 66%, rgba(255,255,255,1) 66%);
    }
    .kh-draw-side {
        height: 150px;
    }
    .kh-draw .kh-container .kh-row:nth-child(2) {
        padding-top: 45px;
    }
    .kh-about_company p {
        font-size: 14px;
        margin: 0;
    }
    /*-----About Section-----*/
    .kh-story {
        padding: 30px 55px;
        border: 14px solid var(--gray);
    }
    .kh-we {
        width: 100%;
        margin-left: 0;
    }
    .kh-we blockquote::before {
        left: -25px;
        height: 15px;
        border-right: 0 solid #00000000;
        border-left: 15.4px solid var(--red);
        border-bottom: 15px solid transparent;
    }
    .kh-we blockquote::after {
        left: calc(-15.5px - 30px);
        height: 15px;
        border-right: 0 solid #00000000;
        border-left: 15.5px solid var(--red);
        border-bottom: 15px solid transparent;
    }
    /*-----Quality Section-----*/
    .kh-high-q-img {
        display: none;
    }
    .kh-text-side {
        width: 100%;
    }
    .kh-total-r_project {
        width: 100%;
        margin-bottom: 15px;
    }
    .kh-q_info img {
        height: 100%;
        width: 100%;
    }
    .kh-q_info p.kh-corner {
        margin-top: 15px;
    }
    /*-----Service Section-----*/
    .kh-b_banner img, .kh-s_slide img {
        width: inherit;
    }
    /*-----FOLLOW Section-----*/
    section.kh-follow_us .kh-container .kh-row:nth-child(2){
        margin: 0;
    }
    .kh-fl_us-header-left-side, .kh-fl_us-header-right-side {
        max-width: 100%;
        width: 100%;
    }
}
