/*Imports*/
@import "/node_modules/swiper/swiper-bundle.min.css";
@import "/node_modules/fontawesome/fontawesome/pro/css/all.css";
@import "/assets/fonts/mont/stylesheet.css";

/*Default stylesheets*/
:root{
    --dark: #2C2622;
    --brown: #5B352A;
    --primery: #31261D;
    --secondary: #564E47;
    --red: #D99478;
    --swiper-pagination-color: #D99478;
    --gray: #F1F1F1;
    --white: #FFF;
    font-size: 16px;
    font-family: 'Mont', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: all .2s ease, scroll-behavior 1.5s ease-out;
    scroll-behavior: smooth;
}
::selection{
    background: var(--red);
}

/*Global stylesheets*/
body{
    background: var(--dark);
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.kh-container{
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}
.kh-row{
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 15px;
}
.kh-wrap{
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 55px;
}
.kh-static-side{
    position: relative;
    width: 30%;
}
.kh-s_overlay {
    position: absolute;
    height: 100%;
    width: 30vw;
    top: 0;
    right: 0;
    background-image: url(/assets/banners/lk/bg-half.jpg), linear-gradient(137.84deg, #31261D 2.57%, rgba(49, 38, 29, 0.33) 129.47%);
    background-size: cover;
    background-blend-mode: darken;
    z-index: -1;
}
.kh-w_control{
    margin-right: -15px;
}
.kh-dfw{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.kh-jc-space_between{
    justify-content: space-between;
}
.kh-sec_heading {
    margin-top: 0;
    font-size: 46px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
}
.kh-wrap_heading{
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    text-transform: uppercase;
    margin: 0 0 25px;
}
.kh-btn_red{
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--red);
    border:none;
    transition: all .4s ease;
    text-transform: uppercase;
    text-decoration: none;
    height: fit-content;
}
.kh-btn_red:hover{
    background-color: #ECA285;
}
.kh-btn_usuall{
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    color: var(--white);
    background-color: #3A3430;
    transition: all .4s ease;
    text-transform: uppercase;
    text-decoration: none;
    height: fit-content;
}
.kh-btn_usuall:hover{
    background-color: #504843;
}

.kh-static-side nav, .kh-dinamic-side nav{
    margin-bottom: 50px;
}
.kh-go-back {
    display: block;
    color: #74665E;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
}
.kh-go-back i {
    margin-right: 5px;
}
button, a, i{
    transition: all .4s ease;
    cursor: pointer;
}
/*-----Swiper Slider-----*/
.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-decoration: none;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.kh-poster-slider .swiper-slide{
    border-radius: 10px;
}
.kh-poster-slider .swiper-pagination{
    right: 0;
    left: auto;
}
/*-----Glob Style-----*/
.kh-selected-event {
    position: relative;
    width: calc(65% - 55px);
    background: #27221F;
    margin: -48px -15px -48px 0;
    padding: 48px 15px 48px 55px;
    box-sizing: border-box;
}
.kh-glob-btn{
    cursor: pointer;
}
.kh-glob-tab {
    position: absolute;
    top: 48px;
    opacity: 0;
    z-index: -1;
    transition: all .4s ease;
}
.kh-glob-tab.active {
    position: relative;
    top: 0;
    opacity: 1;
    z-index: 3;
}
/*-Logo-*/
.kh-logo-side {
    width: 25%;
    background: var(--brown);
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.kh-logo-side img {
    max-width: 100%;
    width: 100%;
}
.kh-logo-side h1 {
    margin: 0.5rem 0 0;
    font-size: 14px;
    font-weight: normal;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}
.kh-nav {
    width: 75%;
    padding: 0 5px;
    box-sizing: border-box;
    min-height: 137px;
}
.kh-topbar{
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    height: 30%;
}
.kh-topbar a{
    color: #887D76;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease;
    margin-left: 30px
}
.kh-topbar a:hover{
    color: var(--white);
}
.kh-topbar a i {
    color: var(--white);
    font-size: 12px;
    margin-right: 5px;
}
.kh-static-side .kh-pc_menu li{
    margin-left: 30px;
}
.kh-pc_menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    height: 70%;
    padding: 0;
    margin: 0;
    border: 1px groove rgb(255 255 255 / 40%);
    border-right: 0;
    border-left: 0;
}
.kh-pc_menu li {
    list-style-type: none;
    font-size: 12px;
}
.kh-pc_menu li a {
    color: #AD9A8D;
    text-decoration: none;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    transition: all 0.4s ease;
}
.kh-pc_menu li a.active, .kh-pc_menu li a.active i{
    color: var(--white);
}
.kh-pc_menu li a i {
    font-size: 20px;
    margin-right: 10px;
    color: #AD9A8D;
    transition: color .4s ease;
}
.kh-pc_menu li a:hover, .kh-pc_menu li a:hover i {
    color: var(--red);
}
/*-----My House Section-----*/
section.kh-my-house {
    width: calc(100% - 35px);
}
section.kh-my-house .kh-sec_heading {
    color: var(--white);
    margin-bottom: 50px;
}
.kh-my_progres {
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}
.kh-my-p_col {
    width: calc(50% - 2.5px);
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(44, 38, 34, 0.4), rgba(44, 38, 34, 0.4)), linear-gradient(75.93deg, rgba(44, 38, 34, 0.095) 15.92%, rgba(217, 148, 120, 0.325) 59.65%, rgba(217, 148, 120, 0.015) 109.2%);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    align-items: center;
}
.kh-my-p_col h4 {
    color: var(--red);
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
.kh-my-p_col p {
    color: var(--white);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
}
.kh-my_progres .kh-my-p_col:nth-child(3){
    width: 30%;
    text-align: center;
}
.kh-my_progres .kh-my-p_col:nth-child(4){
    width: calc(70% - 5px);
    text-align: center;
}
.kh-my_progres .kh-my-p_col:nth-child(3), .kh-my_progres .kh-my-p_col:nth-child(4) {
    margin-top: 5px;
}
.kh-my_progres .kh-my-p_col:nth-child(3) p, .kh-my_progres .kh-my-p_col:nth-child(4) p {
    padding-left: 0;
    color: #96887F;
}
/*-----Event Section-----*/
.kh-event-heading {
    margin: 0 0 25px;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
.kh-event-item {
    justify-content: space-between;
    margin-bottom: 30px;
}
.kh-events .kh-event-item:last-child{
    margin-bottom: 15px;
}
.kh-event-item i {
    font-size: 18px;
    color: #AD9A8D;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(44, 38, 34, 0.3);
    backdrop-filter: blur(9px);
    border-radius: 10px;
}
.kh-event-item.kh-new-event i {
    color: var(--white);
    background: var(--red);
}
.kh-event-item.kh-new-event i:hover{
    background-color: #ECA285
}
.kh-e_text-wrap {
    width: calc(100% - 47px);
    color: var(--white);
    align-content: space-between;
}
.kh-e_text-wrap span {
    display: block;
    color: #7C6F66;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.kh-e_text-wrap span em {
    color: var(--red);
    font-style: normal;
}
.kh-e_text-wrap p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    background-color: white;
    background-image: linear-gradient(90deg, rgba(44, 38, 34, 0) 75%, #2C2622 100%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.kh-e_text-wrap p::selection{
    background-color: #d9947880;
}
.kh-event-link {
    display: block;
    font-weight: bold;
    font-size: 10px;
    color: #D99478;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .4s ease;
    margin-bottom: 35px;
}
.kh-event-link:hover{
    color: #ECA285;
}
/*-----Dinamic Section-----*/
.kh-dinamic-side {
    width: 70%;
}
.kh-topbar {
    justify-content: space-between;
    align-items: center;
}
.kh-dinamic-side .kh-nav .kh-topbar a:first-child{
    margin-left: 0;
}
.kh-dinamic-side .kh-topbar, .kh-dinamic-side .kh-pc_menu{
    padding-left: 50px
}
.kh-dinamic-side .kh-nav{
    width: 100%;
}
.kh-pc_menu li a b{
    font-size: 18px;
}
/*-----Pop Up Window-----*/
.kh-video-pop_up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c262259;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: all .4s ease;
}
.kh-video-pop_up.active {
    z-index: 5;
    opacity: 1;
}
.kh-video-pop_up.active .kh-v-pop_up-wrap{
    height: 430px
}
.kh-v-pop_up-wrap {
    position: absolute;
    width: 70%;
    height: 0;
    margin: auto;
    background: var(--dark);
    border: 10px solid var(--dark);
    border-radius: 10px;
}
.kh-v-pop_up-wrap i{
    position: absolute;
    right: -30px;
    top: -30px;
    background: var(--red);
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
    transition: all .4s ease
}
.kh-v-pop_up-wrap i:hover{
    background: #ECA285;
}

/*-----Footer-----*/
footer {
    margin: 50px 0 0;
    border-top: 1px solid #403732;
    width: 100%;
}
.kh-f_col {
    padding: 45px 0 0 50px;
    box-sizing: border-box;
    width: 30%;
    border-right: 1px solid #403732;
}
.kh-row .kh-f_col:first-child {
    padding-left: 0;
}
.kh-row .kh-f_col:last-child {
    border-right: none;
}
.kh-f_col h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--red);
    text-transform: uppercase;
    margin: 0 0 35px;
}
.kh-link-list {
    padding: 0;
    margin: 0;
}
.kh-link-list li {
    margin-bottom: 15px;
    list-style: none;
}
.kh-link-list li a {
    font-size: 12px;
    color: #74665E;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .2s ease;
}
.kh-link-list li a:hover{
    color: var(--white);
}
.kh-f_bottom-side {
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.kh-p_and_p {
    color: #6A615B;
    font-size: 11px;
    text-decoration: none;
    margin-right: 25px;
    transition: color .2s ease;
}
.kh-p_and_p:hover {
    color: #f1f1f1;
}
.kh-row .kh-p_and_p:last-child {
    margin-right: 0;
}
/*-----Mobile Menu-----*/
nav.kh-mobile-menu{
    position: absolute;
    top: 0;
    background: var(--secondary);
    width: 100%;
    display: none;
    transition: all .2s;
    z-index: 10;
}
.kh-mobile-menu.fix{
    position: fixed;
    width: 100%;
    background-image: none;
    background-color: var(--dark);
    box-shadow: 0 0 0 0 #000;
    z-index: 15;
}
.kh-mobile-menu.fix .kh-m_logo-side{
    height: 70px;
}
.kh-m_logo-side {
    height: 80px;
    padding: 15px 10px;
    background: var(--brown);
    box-sizing: border-box;
}
.kh-m_logo-side img {
    max-height: 100%;
}
.kh-m_nav {
    padding: 15px 0;
    box-sizing: border-box;
    align-items: center;
}
.kh-m_nav a{
    margin-right: 25px;
}
.kh-m_nav a i {
    font-size: 16px;
    color: var(--red);
    width: 36px;
    height: 36px;
    background: var(--white);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.kh-humburger {
    position: relative;
    display: block;
    height: 2px;
    width: 40px;
    background: var(--white);
    transition: all .4s ease;
    cursor: pointer;
    z-index: 10;
}
.kh-humburger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--white);
    top: -15px;
    left: 0;
    transition: all .4s ease;
}
.kh-humburger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--white);
    top: 15px;
    left: 0;
    transition: all .4s ease;
}
.kh-humburger.active {
    transform: rotate(45deg);
}
.kh-humburger.active::before {
    top: 0;
    transform: rotate(-90deg);
}
.kh-humburger.active::after {
    left: -100%;
    opacity: 0;
}
.kh-m_side-bar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 45vw;
    min-width: 400px;
    height: calc(100vh + 15px);
    background: var(--dark);
    transition: all .4s ease;
    overflow-y: scroll;
    z-index: -1;
}
.kh-m_side-bar.open{
    left: 0;
    z-index: 10;
}
.kh-m_menu {
    padding: 45px 40px;
    box-sizing: border-box;
    margin: 0;
}
.kh-m_menu h4 {
    color: var(--red);
    margin-top: 45px;
}
.kh-m_menu li {
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    border-top: 1px solid #584c44;
}
.kh-m_last-li {
    border-bottom: 1px solid #584c44;
}
.kh-m_menu li a {
    color: var(--white);
    display: block;
    padding: 15px 0;
    text-decoration: none;
}
.kh-m_menu-bottom .kh-f_logo {
    display: flex;
    margin-bottom: 25px;
    width: 100%;
}
.kh-f_logo img {
    max-width: 25%;
    margin: auto;
}
.kh-m_menu li a:focus{
    color: var(--red);
}
.kh-m_menu-bottom {
    margin-top: 60px;
}
.kh-m_menu-bottom a {
    text-decoration: none;
}
.kh-m_menu-bottom a i {
    font-size: 18px;
    color: var(--red);
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}
.kh-m_menu-bottom a i:hover, .kh-m_menu-bottom a i:focus{
    color: var(--white);
    background-color: var(--red);
}
@keyframes fader {
    from{
        opacity: 0;
    }to{
        opacity: .5
    }
}
@-webkit-keyframes fader {
    from{
        opacity: 0;
    }to{
        opacity: .5
    }
}
.kh-m_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh + 15px);
    background: var(--dark);
    opacity: 0;
    display: none;
    transition: all .4s ease;
}
.kh-m_overlay.open{
    display: block;
    animation: fader .4s ease;
    opacity: .5;
}




/*----------MEDIA STYLES----------*/
@media (max-width: 1200px) {
    /*-----Global Styles-----*/
    .kh-wrap{
        padding-left: 35px
    }
    .kh-wrap_heading{
        font-size: 14px;
    }
    /*-----Menu Mob-----*/
    .kh-menu-part li a i{
        font-size: 16px;
    }
    /*-----Header-----*/
    .kh-logo-side {
        width: 30%;
    }
    .kh-nav{
        min-height: 120px
    }
    .kh-static-side .kh-nav {
        width: 70%;
    }
    .kh-logo-side h1{
        font-size: 10px;
    }
    .kh-dinamic-side .kh-topbar, .kh-dinamic-side .kh-pc_menu {
        padding-left: 30px;
    }
    .kh-topbar a{
        font-size: 10px;
        margin-left: 15px;
    }
    .kh-static-side .kh-pc_menu li {
        margin-left: 15px;
    }
    .kh-pc_menu li a i {
        font-size: 14px;
        margin-right: 5px;
    }
    .kh-pc_menu li a b {
        font-size: 16px;
    }
    /*-----Static Section-----*/
    section.kh-my-house .kh-sec_heading {
        margin-bottom: 30px;
        font-size: 36px;
    }
    .kh-my-p_col {
        padding: 10px 10px;
    }
    .kh-my-p_col h4{
        font-size: 26px;
    }
    .kh-e_text-wrap p{
        font-size: 12px;
    }
    /*-----Footer-----*/
    .kh-f_col{
        width: 33.33335%;
    }
    .kh-f_col h4{
        font-size: 16px;
        margin-bottom: 25px;
    }
    .kh-f_bottom-side{
        margin-top: 50px;
    }
}
@media (max-width: 992px) {
    header{
        height: 80px;
    }
    .kh-wrap {
        padding-left: 0;
    }
    .kh-static-side{
        display: none;
    }
    .kh-static-side, .kh-dinamic-side{
        padding-top: 35px;
        width: 100%;    
    }
    /*-----Menu Mob-----*/
    .kh-static-side nav, .kh-dinamic-side nav{
        display: none;
    }
    nav.kh-mobile-menu{
        display: block;
    }
    .kh-menu-part li a i {
        font-size: 16px;
    }
    .kh-menu-part li {
        font-size: 11px;
    }
    .kh-logo-side {
        width: 9%;
    }
    .kh-logo-side h1 {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    /*-----Menu Mob-----*/
    .kh-m_logo-side {
        height: 80px;
    }
    .kh-mobile-menu.fix .kh-m_logo-side{
        height: 70px;
    }
    .kh-m_nav a i {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .kh-humburger {
        width: 30px;
    }
    .kh-humburger::before {
        top: -12px;
    }
    .kh-humburger::after {
        top: 12px;
    }
}
@media (max-width: 576px) {
    .kh-m_side-bar {
        min-width: 100%;
    }
    .kh-humburger {
        width: 30px;
        z-index: 11;
    }
    .kh-static-side {
        min-width: 320px;
    }
    /*-----Glob Tabination-----*/
    .kh-selected-event {
        position: absolute;
        right: -100%;
        width: 100%;
    }
    .kh-glob-tab {
        position: fixed;
        top: 48px;
        left: 0;
        height: calc(100% - 70px);
        width: 100%;
        padding: 70px 15px 30px;
        box-sizing: border-box;
        background: #27221F;
        opacity: 0;
        z-index: -1;
        overflow-y: scroll;
        transition: all .4s ease;
    }
    .kh-glob-tab.active {
        position: fixed;
        top: 70px;
        z-index: 4;
    }
    .kh-back-mob {
        font-size: 16px;
        color: var(--white);
        border-radius: 5px;
        margin-bottom: 15px;
    }
    /*-----Footer-----*/
    .kh-wrap .kh-f_col:first-child {
        padding: 25px 0 25px 25px;
    }
    .kh-wrap .kh-f_col:last-child{
        border-top: 1px solid #403732;
    }
    .kh-f_col {
        width: 50%;
        padding: 25px 0 25px 25px;
        border: none;
    }
}
